body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.app {
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  margin-left: 10px;
}

.food-card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.food-card img {
  width: 120px;
  height: 120px;
}